{% section 'faq' %}

<div class="page-width">
  <div class="rte">
    {{ page.content }}
  </div>
</div>

<style>
  .page-width {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .rte {
    margin-top: 2rem;
  }

  .rte p {
    margin-bottom: 1rem;
  }

  .rte p:last-child {
    margin-bottom: 0;
  }

  @media screen and (max-width: 767px) {
    .page-width {
      padding: 0 1rem;
    }
  }
</style> 